<style>
        * {
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            box-sizing: border-box;
        }

        .gap {
            gap: 3em;
        }

        .small_gap {
            gap: 1em;
        }

        .scale {
            transition: all 1s;
        }

        .scale:hover {
            scale: 0.9;
        }

        .bg-secondary {
            color: white !important;
            background-color: #203757 !important;
        }

        .text-secondary {
            color: #203757;
        }

        .text-secondary * {
            color: #203757;
        }

        .blur {
            filter: blur(2px);
        }
    </style>
