* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#first_panel {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 30%;
    height: 100%;
    background-color: #203757;

}

#first_panel * {
    margin-top: 3%;
    margin-bottom: 3%;
}

#Profile_Pic {
    width: 40%;
    max-height: fit-content;
    border-radius: 50%;
    box-shadow: 1px 1px 10px rgb(201, 201, 201);
}

#Profile_Pic:hover+#edit_info {
    scale: 2;
}

table {

    width: 90%;
}

table * {
    width: 50%;
    border: 1px ridge white;
}

.working-hours {
    font-size: 14px;
    margin: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.working-hours th,
.working-hours td {
    padding: 10px;
    text-align: center;
}

.working-hours th {
    background-color: #3f51b5;
    color: #fff;
}


.working-hours tbody tr:hover {
    background-color: #3f51b5;
}

.services {
    margin: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.services th,
.services td {
    padding: 10px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.services th {
    background-color: #3f51b5;
    color: #fff;
}

.services tbody tr:hover {
    background-color: #3f51b5;
}


#edit_info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #2037574b;
    border-radius: 10px;
    padding: 5%;
    color: white;
    position: fixed;
    top: 0;
    scale: 1;
}

#edit_info * {
    margin: 1%;
}

#edit_info div {
    display: flex;
    flex-direction: column;
    width: 80%;
}

form>div>input {
    border-radius: 5px;
    border: 0px;
    box-shadow: 0px 5px 20px 0px rgb(124, 124, 124);
}

#edit_info div label {
    font-size: large;
}

#profile_pic input {
    box-shadow: 0px 0px 0px 0px rgb(124, 124, 124);
}

#Submit-Button {
    padding: 1% 2%;
    font-size: large;
}




.section {


    background-color: rgb(64, 96, 134);
    padding: 0%;
    margin-bottom: 1%;

}
    #Second_Panel img {
        width: 200px;
        height: 200px;
        border-radius: 100px;
    }


.option {
    display: flex;
    gap: 4%;

}

#accept {
    border-color: black;
    border: solid 2px;
    background-color: white;
    color: black;
    border-radius: 5px;
    font-size: medium;
}

#reject {

    border-color: black;
    border: solid 2px;
    background-color: white;
    color: black;
    border-radius: 5px;
    font-size: medium;
}