*{
    color: white;
  /* padding: 0%;*/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.section{
   
    
    background-color: rgb(64, 96, 134); 
    padding: 0%;
     
}
.image{
    width: 30%;
}

#Second_Panel img{
    width: 200px; 
    height: 200px;
    border-radius:100px;
}

 .paragraphs{
  width:30%;
 }

/*.button
{
    position: relative;
    left: 80%;
}*/

.option{

  width: 50%;
  display: flex;
  gap: 4%;

}

#accept{
  width:15% ;
  border-color: black;
  border: solid 2px;
  background-color: white;
  color: black;
  border-radius: 5px;
  font-size: medium;
}

/*#accept :hover{

    color: green;
}*/

#reject{

    width:15% ;
    border-color: black;
    border: solid 2px;
    background-color: white;
    color: black;
    border-radius: 5px;
    font-size: medium;
  }


